<body class="bg-nsia">
  <nav class="navbar navbar-expand-lg bg-dark bg-light">
    <a class="navbar-brand" href="#"><img class="img" src="assets/images/nsia_logo.png" alt="NSIA logo"></a>
    <a class="navbar-brand" href="#"><img class="img" src="assets/images/dstv-logo.png" alt="DSTV logo"></a>

    <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span> -->
    <!--</button> -->
  </nav>
  <div class="container mt-2">
    <form class="mt-3" [formGroup]="userDetailsForm" (ngSubmit)="submitUserDetails(userDetailsForm.value)" autocomplete="off">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="title" class="text-bold">Title</label>
          <select id="title" name="title" formControlName="title" class="form-control">
            <option value='' selected disabled>Choose...</option>
            <option *ngFor=" let title of titles" value={{title.id}}>{{title.title}}</option>
          </select>
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['title'].invalid && userDetailsForm.controls['title'].touched">Title
              is required</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="surname" class="text-bold">Surname</label>
          <input type="text" class="form-control" id="surname" name="surname" formControlName="surname" placeholder="Surname">
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['surname'].invalid && userDetailsForm.controls['surname'].touched">Surname
               is required</div>
        </div>
      <!-- </div>
      <div class="form-row mt-2"> -->
        <div class="form-group col-md-4">
          <label for="firstName" class="text-bold">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName" placeholder="First Name">
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['firstName'].invalid && userDetailsForm.controls['firstName'].touched">First name
              is required</div>
        </div>
        <div class="form-group col-md-4">
          <label for="middleName" class="text-bold">Middle Name</label>
          <input type="text" class="form-control" id="middleName" name="middleName" formControlName="middleName" placeholder="Middle Name">
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['middleName'].invalid && userDetailsForm.controls['middleName'].touched">Middle name
              is required</div>
        </div>
      </div>
      <div class="form-row mt-2" *ngIf='1'>
          <div class="form-group col-md-4">
              <label for="email" class="text-bold">Email</label>
              <input type="email" class="form-control" id="email" name="email" formControlName="email" placeholder="Email">
              <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['email'].invalid && userDetailsForm.controls['email'].touched">Email
                  is required</div>
            </div>
        <div class="form-group col-md-4">
          <label for="dateOfBirth" class="text-bold">Date of Birth</label>
          <input type="date" class="form-control" id="dateOfBirth" name="dateOfBirth" formControlName="dateOfBirth" placeholder="Date of Birth">
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['dateOfBirth'].invalid && userDetailsForm.controls['dateOfBirth'].touched">Date of birth
              is required</div>
        </div>
        <div class="form-group col-md-4">
          <label for="phoneNumber" class="text-bold">Phone Number</label>
          <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number">
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['phoneNumber'].invalid && userDetailsForm.controls['phoneNumber'].touched">Phone number
              is required</div>
        </div>
      </div>
      <div class="form-row mt-2" *ngIf='1'>

        <div class="form-group col-md-4">
          <label for="identity" class="text-bold">Means of Identifiation</label>
          <select id="identity" formControlName="identity" name="identity" class="form-control">
            <option value='' selected disabled>Choose...</option>
            <option *ngFor="let identity of identities" value={{identity.id}}>{{identity.name}}</option>
          </select>
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['identity'].invalid && userDetailsForm.controls['identity'].touched">Means of Identification
              is required</div>
        </div>
        <div class="form-group col-md-4">
          <label for="identityNumber" class="text-bold">Identification Number</label>
          <input type="text" class="form-control" name="identityNumber" formControlName="identityNumber" id="identityNumber" placeholder="ID Number">
          <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['identityNumber'].invalid && userDetailsForm.controls['identityNumber'].touched">Phone number
              is required</div>
          <!-- <div  class="text-bold">
                             Int'l passport, Driver License, National ID Card, Voters Card or RC Number
              </div>-->
        </div>

        <div class="form-group col-md-4">
            <label for="address" class="text-bold">Address</label>
            <textarea type="text" class="form-control" id="address" name="address" formControlName="address" placeholder="1234 Main St"></textarea>
            <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['address'].invalid && userDetailsForm.controls['address'].touched">Address
                is required</div>
          </div>

      </div>
      <div class="form-group mt-2" *ngIf='1'>
        <label for="businessType" class="text-bold">Type of Business/Profession</label>
        <input type="text" class="form-control" id="businessType" name="businessType" formControlName="businessType" placeholder="Business Type">
        <div class="invalid-feedback" style="display: block" *ngIf="userDetailsForm.controls['businessType'].invalid && userDetailsForm.controls['businessType'].touched">Type of business
            is required</div>
      </div>

      <!-- <div class="form-group mt-2">
        <label for="inputAddress2" class="text-bold">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
      </div> -->
      <!-- <div class="form-row mt-2">
                   <div class="form-group col-md-6">
                     <label for="inputCity"  class="text-bold">Local</label>
                     <input type="text" class="form-control" id="inputCity">
                   </div>
                   <div class="form-group col-md-4">
                     <label for="inputState" class="text-bold">State</label>
                     <select id="inputState" class="form-control">
                        <option value='' selected disabled>Choose...</option>
                        <option *ngFor=" let state of states" value={{state.id}} >{{state.name}}</option>
                      </select>
                   </div> -->
      <!--<div class="form-group col-md-2">
                     <label for="inputZip" class="text-bold">Zip</label>
                     <input type="text" class="form-control" id="inputZip">
                   </div>
                 </div>-->
      <!--  <div class="form-group">
                   <div class="form-check">
                     <input class="form-check-input" type="checkbox" id="gridCheck">
                     <label class="form-check-label" for="gridCheck">
                       Check me out
                     </label>
                   </div>
                 </div> -->
      <div class="text-center">
        <button type="submit" class="btn btn-outline-success btn-lg" [disabled]="!userDetailsForm.valid">Next</button>
      </div>

    </form>
    <br><br>
  </div>
</body>
