
<div class="bg-nsia">

    <nav class=" nav navbar navbar-expand-lg bg-dark bg-light">
      <a class="navbar-brand" href="#"><img class="img" src="assets/images/nsia_logo.png" alt="NSIA logo"></a>
      <a class="navbar-brand" href="#"><img class="img" src="assets/images/dstv-logo.png" alt="DSTV logo"></a>

      <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>-->
      <!--  </button>-->
    </nav>

<div class="container mt-3 card">

    <div class="card-body text-center">
      <div class="alert alert-success" role="alert">
        <i class="fas fa-info-circle fa-7x"></i>
        <h4 class="alert-heading">{{responsedesc}}</h4>
        <h6>Transaction Reference - <b>{{transref}}</b></h6>
        <div *ngIf="payref != '' || retref != '' ">
        <h6>Payment Reference - <b>{{payref}}</b></h6>
        <h6>Retrieval Reference - <b>{{retref}}</b></h6>
        </div>

        <!-- <p></p> -->



        <button (click)="close()"  type="submit" class="btn btn-danger text-uppercase text-bold">CLOSE </button>
        <!--  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
      </div>
    </div>

  </div>
